{% extends 'base.html.twig' %}

{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('admin_category_index') }}" class="btn btn-default" role="button" title="Back to the list">
            <span class="fa fa-list" aria-hidden="true"></span>
        </a>
        <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="btn btn-default" role="button" title="Edit">
            <span class="fa fa-pencil" aria-hidden="true"></span>
        </a>
        {{ form_start(delete_form, {'attr' : {'style': 'display: inline-block'} }) }}
            <button type="submit" title="Delete" class="btn btn-danger">
                <span class="fa fa-trash" aria-hidden="true"></span>
            </button>
        {{ form_end(delete_form) }}
    </div>
    <h1>Category: {{ category.title }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>
                    {% if category.parent %}
                        <a href="{{ path('admin_category_show', { 'id': category.parent.id }) }}">{{ category.parent }}</a>
                    {% else %}
                        No parent
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Contracts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Conclusion at</th>
                <th>Supplier</th>
                <th>Title</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{% if contract.conclusionAt %}{{ contract.conclusionAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ contract.supplier }}</td>
                <td>{{ contract.title }}</td>
                <td>{{ contract.value }}</td>
                <td>
                    <a href="{{ path('contract_show', { 'id': contract.id }) }}" title="Show" role="button" class="btn btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('contract_edit', { 'id': contract.id }) }}" title="Edit" role="button" class="btn btn-primary">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
