{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('contract_index') }}">Category list</a></li>
        <li class="active">New</li>
    </ol>

    <div class="pull-right">
        <a href="{{ path('contract_index') }}" class="btn btn-default" role="button" title="Back to the list">
            <span class="fa fa-list" aria-hidden="true"></span>
        </a>
    </div>

    <h1>Contract creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
